.navbar-logo {
  height: 62px;
  width: auto;
}

.navbar{
    
    background-color:transparent;    
    
    border-radius: 10px;
    height:auto;
    padding: 10px;
    
}
.btn-log{
  background-color: #1c1b1d;
}
.navbar-toggler{
  background:linear-gradient(rgb(109, 109, 109),rgb(160, 157, 157));
  border:1px solid rgba(26, 26, 26, 0.774)
}

.userLink{
  text-decoration: none;
  color:inherit
}